<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarfBuzzSharp" version="2.8.2.4-preview.84" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.4-preview.84" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.4-preview.84" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="SkiaSharp" version="2.88.4-preview.84" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.4-preview.84" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.4-preview.84" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.4-preview.84" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.4-preview.84" targetFramework="net48" />
  <package id="SkiaSharp.Views.WPF" version="2.88.4-preview.84" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>